#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.input-field {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

hr {
  border: 0;
  border-top: 1px solid #4a4a4a;
  margin: 1em 0;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.75em;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color 0.25s, filter 300ms;
  will-change: filter;

  .left-side {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .right-side {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    //font-size: 1.5rem;
    color: #888;
    margin-right: 0.4em;
    border: 1px solid transparent;
    border-radius: 8px;

    width: 24px;
    height: 24px;

    transition: border-color 0.25s, background-color 0.25s;

    &:hover {
      background-color: #1a1a1a;
      border-color: #4a4a4a;
    }
  }

  &:hover {
    border-color: #646cff;
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}